body, html {
  height: 100%;
  width: 100%;

  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}

.modeler-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#modeler-container {
  flex: 1;
}

#app-container {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

#properties-container {
  overflow-y: auto;

  border-top: solid 2px #CCC;
  background: #FAFAFA;

  padding: 5px;
  height: 200px;
}

footer {
  border-top: solid 2px #999;
  background: #CCC;
  color: white;
  font-size: 0.85em;
  padding: 5px 7px;
}

footer a {
  color: white;
  text-decoration: none;
}

#download-button {
  border: solid 2px #CCC;
  border-radius: 2px;
  padding: 5px 7px;
}
